@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 15px;
}

body{
    height: 100%;
    background-color: hsl(185, 75%, 39%);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: -292px -516px, calc(100% + 258px) calc(100% + 618px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{color: hsl(0, 0%, 59%);}

h1{
    font-size: 1.3rem;
    color: hsl(229, 23%, 23%);
    margin: 0 .5rem .8rem 0;
}

h2{
    font-size: 1.33rem;
    color: hsl(229, 23%, 23%);
    margin-bottom: .5rem;
}

.body-card{
    width: 400px;
    height: 300px;
    background-color: white;
    background-image: url("images/bg-pattern-card.svg");
    background-repeat: repeat-x;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: flex-end;
}

.age{
    font-size: 1.2rem;
}

.body-card p:last-child{
    width: 100%;
    margin-bottom: 1.4rem;
}

.profile{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 4px solid white;
    background-image: url("images/image-victor.jpg");
    background-position: top center;

    position: absolute;
    top: 92px;
    left: calc(50% - 48px);
}

.social{
    padding: 2rem 0;
    border-top: 1px solid hsl(0, 0%, 80%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: white;
    display: flex;
    justify-content: space-around;
}

.box{
    margin: 0 1rem;
    text-align: center;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width: 1280px){
    body{
        background-position: -372px -426px, calc(100% + 338px) calc(100% + 528px);
    }
}

@media(max-width: 1180px){
    body{
        background-size: 878px;
    }
}

@media(max-width: 900px){
    body{
        background-size: 778px;
    }
}

@media(max-width: 800px){
    body{
        background-position: -612px -633px, calc(100% + 578px) calc(100% + 741px);
        background-size: auto;
    }
}

@media(max-width: 500px){
    body{
        background-size: 878px;
    }
}

@media(max-width: 420px){
    .body-card{
        width: 350px;
    }
}


    

